# Temel Kütüphaneler
streamlit
pandas
datasets

# LangChain Çekirdek ve Bağlayıcılar
langchain
langchain-chroma
langchain-google-genai

# KRİTİK UYUMSUZLUK ÇÖZÜMÜ İÇİN ZORUNLU VERSİYONLAR
pydantic==1.10.13
google-auth
protobuf
grpcio
typing-extensions
tenacity
